# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Compiled extensions
*.so

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/
env/
ENV/

# =========================
# Distribution / packaging
# =========================
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Logs & temp files
# =========================
*.log
*.out
*.err
*.tmp
*.swp

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# Pytest / coverage
# =========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# =========================
# IDEs
# =========================

# VSCode
.vscode/

# PyCharm
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# MuJoCo / simulation (tu caso)
# =========================
results/
*.mp4
*.gif

# =========================
# Bytecode
# =========================
*.pyo
*.pyd

# =========================
# Conda
# =========================
conda-meta/